<h3>Lista de tarefas</h3>

<ul class="tarefas">
	
<% date = nil %>
	
<% for tarefa in @tarefas %>
	
	<li id="item">
	<% if tarefa.DtTermino.nil? %>
		<span id="message">Indefinida</span>
	<% else %>
		<span id="message"><%= tarefa.DtTermino.strftime("%d/%m/%Y") %></span>
	<% end %>
		<span id="ctr"><%= link_to tarefa.Nome, projeto_tarefa_path(@projeto, tarefa) %></span>
		<span id="sign"></span>
	</li>
	
<% end %>

</ul>

<%= link_to 'Nova tarefa', new_projeto_tarefa_path(@projeto) %>