<% if logged_in? %>
<div id="users-bar-greeting">
  Logged in as
  <%#= link_to_current_users :content_method => :Login %>
  
  <%= link_to_current_users :content_method => :Nome %>
  <% #for pessoa in @pessoa.methods %>
  <%#= pessoa + '<br />' %>
  <%# end %>
  
</div>
  <div id="users-bar-action"  >(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>
<% else -%>
  <div id="users-bar-greeting"><%#= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
  <div id="users-bar-action"  ><%#= link_to "Log in",  login_path,  { :title => "Log in" } %> /
                               <%#= link_to "Sign up", signup_path, { :title => "Create an account" } %></div>
<% end -%>
