<h3>Editar Projeto</h3>

<%= render :partial => "form" %>

<%= link_to 'Voltar', @projeto %> |
<%= link_to 'Apagar projeto', projeto_path(@projeto), :confirm => 'Tem certeza que deseja apagar o projeto ?', :method => :delete %>