<% for projeto in @projetos %>

<h3><%= projeto.Nome %></h3>
<ul class="tarefas">
	
<% date = nil %>
	
<% for tarefa in projeto.tarefas.all(:order => "created_at desc") %>
	
	<% if tarefa.created_at.strftime("%A, %d de %B de %Y") != date %>
	
	<% date = tarefa.created_at.strftime("%A, %d de %B de %Y") %>
	
	<li>
		<span id="date"><%= date %></span>
	</li>
	
	<% end %>
	
	<li id="item">
		<span id="comment">Tarefa</span>
		<span id="ctr"><%= tarefa.Nome %></span>
		<span id="sign"></span>
	</li>
	
<% end #for %>

</ul>
<% end %>