<h3>Lista de Pessoas</h3>
<% for pessoa in @pessoas %>
<div class="pessoas">
  <div id="foto">
    <%= link_to(image_tag(gravatar_url_for(pessoa.Email), {:width => 48, :height => 48}), pessoa_path(pessoa)) %>
  </div>
  <strong>
    <%= link_to pessoa.Nome, pessoa_path(pessoa) %>
  </strong>
  <br />
  <%= link_to pessoa.Email, pessoa_path(pessoa) %>
</div>
<% end %>
<% if !@projeto.nil? %>
<%= link_to 'Convidar colaboradores', invite_projeto_pessoas_path %>
<% end %>