<h3>Nova Pessoa</h3>

<% form_tag(:controller => "pessoas", :action => "sent_invite") do %>
<ul class="orcamento">
	<li>
		Nome
	</li>
	<li>
		<%= text_field_tag 'Nome', nil, :class => "txt" %>
	</li>
	<li>
		Email
	</li> 
	<li>
		<%= text_field_tag 'Email', nil,  :class => "txt" %>
	</li>
	<li>
		<%= submit_tag "SALVAR", :class => "sub" %>
	</li>
</ul>
<% end %>

<%= link_to 'Voltar', projeto_pessoas_path %>