<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=iso-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gerenciador de projetos Seek</h1>
    <p><%= @nome %></p>
    <p>
      Você foi convidado para participar do projeto <%= @projeto.Nome %>.
    </p>
  </body>
</html>