  <div class="right">
    <div id="conteudo">
      <h1>
        <div id="lr"></div>
        <%= render :partial => "layouts/abas" %>
        <div id="rr"></div>
      </h1>
      <div class="box">
        <%= yield  %>
      </div>
    </div>
  </div>