<div class="menu">
  <div id="lr">
    <img src="/images/lrmenu.jpg" />
  </div>
  <ul>
    <a href="/">
      <li>Inicial</li>
    </a>	
  </ul>
  <div id="rr">
    <img src="/images/rrmenu.jpg" />
  </div>
  <ul id="opt">
    <%= link_to ('<li>Pessoas</li>'), pessoas_path%>
    <%= link_to ('<li>Configurações</li>'), account_path %>
    <%= link_to ('<li id="sair">Sair</li>'), logout_path%>
  </ul>
</div>